BasedOnStyle: WebKit
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
ColumnLimit: 80
ReflowComments: false
SortIncludes: false
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
