BasedOnStyle: WebKit
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 80
ReflowComments: false
SortIncludes: false
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
