name: Build & Release
on:
  workflow_dispatch:
  push:
    branches: "*"
  create:
    tags:
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        env:
          ENABLE_SANITISE_CHECKS: 1
        run: |
          ./.github/workflows/make-release-roms
      - name: Upload ROMs
        uses: actions/upload-artifact@v4
        with:
          name: roms
          path: |
            out/rom_generic.bin
            out/rom_everdrive.bin
            out/rom_megawifi.bin
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::$(cat ./out/version.txt)
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: true
          prerelease: false
      - name: Add Generic ROM to release
        id: upload_generic_rom
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./out/rom_generic.bin
          asset_name: mega-drive-midi-interface-generic-${{ steps.get_version.outputs.VERSION }}.bin
          asset_content_type: application/octet-stream
      - name: Add Everdrive ROM to release
        id: upload_everdrive_rom
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./out/rom_everdrive.bin
          asset_name: mega-drive-midi-interface-everdrive-${{ steps.get_version.outputs.VERSION }}.bin
          asset_content_type: application/octet-stream
      - name: Add MegaWiFi ROM to release
        id: upload_megawifi_rom
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./out/rom_megawifi.bin
          asset_name: mega-drive-midi-interface-megawifi-${{ steps.get_version.outputs.VERSION }}.bin
          asset_content_type: application/octet-stream
